html, body {
  background: url('./0 Home.jpg') center center no-repeat;
  height: 100%;
  background-size: cover;
}

@media(max-width:768px){
  #logo img {
    width: 50% !important;
    height: 100% !important;
  }
